.container{
    width: 60%;
    height: 55px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.blur{
    background-color: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(50px);
    border-radius: 50vh;
}

a{
    width: 19%;
    padding-top: 15px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: var(--nav_color);
    font-size: 1.5em;
}